.card--container {
    display: flex;
    height: auto;
    justify-content: space-between;
    padding: 40px;
    border-top: 2px solid #d4c68d;
    border-bottom: 2px solid #d4c68d;
    border-radius: 5%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.7);
}

.pokemon--Infos {
    display: flex;
    flex-direction: column;
}

.pokemon {
    display: flex;
    flex-direction: column;
}

.pokemon #pokeName {
    font-size: x-large;
    font-weight: bold;
}

.pokemon span {
    color: #d4c68d;
    font-size: x-large;
}

.pokemon--img {
    width: 200px;
    height: auto;
}

.pokemon--img img {
    width: 100%;
    height: auto;
}

.pokemon--stats-section,
.pokemon-moves-section {
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.pokemon--Stats,
.pokemon-abilities {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.pokemon--Stats span {
    color: #d4c68d;
}

.pokemon p {
    color: #fff;
}

h4 {
    font-size: large;
}

.carousel-indicators {
    display: flex;
    justify-content: center;
    margin-top: -18px;
}

.indicator {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 5px;
    background-color: #ddd;
    cursor: pointer;
    transition: background-color 0.3s;
}

.indicator.active {
    background-color: #333;
}

@media (max-width: 850px) {
    .card--container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border-radius: 10px;
        padding: 15px;
    }

    .pokemon--img {
        width: 150px;
    }

    h4 {
        font-size: medium;
    }
}

@media (max-width: 700px) {
    .pokemon--card {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px;
    }
    .card--container {
        width: 100%;
    }
}

@media (max-width: 500px) {
    .pokemon #pokeName {
        font-size: xx-large;
    }

    .pokemon span {
        font-size: large;
    }
}
