.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.card {
    position: relative;
    background-color: #3c3c3c;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    border-top: 2px solid #d4c68d;
    border-bottom: 2px solid #d4c68d;
    overflow: hidden;
}

.card:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.card--id {
    align-items: center;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 20px;
    width: 40px;
    background-color: #d4c68d;
    color: #2f2f2f;
    border-radius: 1px;
    padding: 5px;
    font-size: 1.3em;
}

.card--image {
    width: 100px;
    height: 100px;
    margin: 10px;
    padding: 10px;
}

.card--image img {
    width: 100%;
    height: 100%;
}

.card--name {
    font-size: 1.4em;
    margin: 10px 0;
    color: #fff;
    font-weight: bold;
}

.card--details {
    font-size: 1em;
    color: #d4c68d;
}

@media (max-width: 1285px) {
    .container {
        display: flexbox;
    }
    .counter {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        margin-left: 0;
    }
}

@media (max-width: 850px) {
    .container {
        display: flex;
        flex-direction: column;
        max-width: 220px;
        margin: 0;
    }

    .card {
        width: 200px;
    }
    .counter {
        display: flex;
        margin: 0;
        margin-left: 0;
    }
}
