.container {
    width: 1000px;
    height: auto;
    display: flexbox;
    align-items: center;
    justify-content: center;
}

.counter span {
    padding: 10px;
    margin: 5px;
    font-size: x-large;
    color: #d4c68d;
}

.counter {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 884px) {
    .container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 100%;
    }
}

@media (max-width: 850px) {
    .container {
        display: grid;
        justify-content: center;
        align-items: center;
        margin-left: 5.5em;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 700px) {
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
    }
}
