.searchbar {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    position: relative;
}

.searchbar select {
    outline: none;
    padding: 5px;
    margin: 2px;
    border: 1px solid #d4c68d;
    cursor: pointer;
}

.searchbar input {
    margin: 3px;
}

.searchbar input::placeholder {
    color: #d4c68d;
}

.suggestions {
    position: absolute;
    top: 100%;
    left: 0;
    width: 200px;
    padding: 0;
    margin: 0;
    background-color: #242424;
    color: #d4c68d;
    border: 1px solid #d4c68d;
    border-radius: 4px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 100;
}

.suggestions li:hover {
    background-color: #616161;
}

.suggestions li {
    cursor: pointer;
    list-style-type: none;
}

@media (max-width: 850px) {
    .searchbar {
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 700px) {
    .searchbar {
        flex-direction: column;
    }

    .searchbar button {
        position: absolute;
        margin-left: 15em;
        margin-bottom: 2.5em;
    }

    .searchbar select,
    input {
        width: 200px;
    }

    .suggestions {
        position: absolute;
    }
}
